.header__container {
    height:80vh;
}
.header__container h1 {
    
    text-align:end;
    width:40%;
    font-size: 5em;
    color: #84A98C;
    font-family: 'Poppins', sans-serif;
    margin-bottom:0 ;
}
.header__container h2 
{
    margin-top:0;
    width:40%;
    text-align:end;
    font-family: 'IBM Plex Mono', monospace;
    color:#52796F;
}
.header__container p {
    text-align:end;
    width:40%;
    font-family: 'IBM Plex Mono', monospace;
    color: #CAD2C5;
}